{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="menu-nav">
  <div class="menu-container">
    <!-- 左侧Logo -->
    <div>
      <a href="{{ site.BaseURL }}" class="menu-logo">{{ site.Title }}</a>
    </div>

    <!-- 导航链接 -->
    <div>
      <div class="menu-links">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </div>
    </div>
  </div>
</nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}

{{- $class := "menu-link" -}}

{{- /* 修改这里的条件判断 */ -}}
{{- $isCurrent := $page.IsMenuCurrent .Menu . -}}
{{- $hasCurrent := $page.HasMenuCurrent .Menu . -}}

{{- if or $isCurrent (and (eq .URL "/posts/") (eq $page.Section "posts")) }}
  {{- $class = "menu-link menu-link-current" -}}
  {{- $attrs = merge $attrs (dict "aria-current" "page") -}}
{{- else if or $hasCurrent (and (eq .URL "/posts/") (eq $page.Section "posts")) }}
  {{- $class = "menu-link menu-link-active" -}}
  {{- $attrs = merge $attrs (dict "aria-current" "true") -}}
{{- end }}

{{- $attrs = merge $attrs (dict "class" $class) -}}

{{- $name := .Name }}
{{- with .Identifier }}
  {{- with T . }}
    {{- $name = . }}
  {{- end }}
{{- end }}

  <a {{- range $k, $v := $attrs }} {{ with $v }} {{ printf "%s=%q" $k $v | safeHTMLAttr }} {{ end }}{{ end -}}>{{ $name }}</a>
  {{- with .Children }}
  <ul>
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  {{- end }}

{{- end }}
{{- end }}