{{ define "main" }}
  <div class="main-container">
    <h1 class="page-title text-center">所有标签</h1>
    {{/*  {{ .Content }}  */}}
    
    <div class="tag-grid">
      {{ range .Data.Terms.Alphabetical }}
        <a href="{{ .Page.RelPermalink }}" 
          class="tag-card hover-effect transition-effect group">
          <span class="tag-title group-hover:text-blue-600">
            {{ .Page.Title }}
          </span>
          <span class="tag-count">
            {{ .Count }} 篇文章
          </span>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}