/* baseof.html start */

/* 基础布局 */
body.layout {
  background-color: #ffffff;
  color: #1a202c;
  /* gray-900 */
  min-height: 100vh;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
}

/* 头部样式 */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  /* px-4 */
}

/* 主体内容 */
.main-content {
  flex: 1;
  /* width: 90%;  */
  /* max-width: 100%; */
  height: 90%;
  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;
}

/* 页脚样式 */
.footer {
  border-top: 1px solid #e2e8f0;
  /* border-gray-200 */
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  /* px-4 */
}

/* 响应式调整 */
@media (min-width: 640px) {

  .header,
  .main-content,
  .footer {
    padding-left: 1.5rem;
    /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .header,
  .main-content,
  .footer {
    padding-left: 2rem;
    /* lg:px-8 */
    padding-right: 2rem;
  }
}

/* baseof.html end  */

/* terms.html start */

/* 确保这个 CSS 在页面中被加载 */


/* terms.html end */